/cmake-build-debug/
/cmake-build-release/
/build/
/installer/


.idea/
.vscode/
*.user
*.user.*
*.suo
*.ncb
*.vcxproj
*.vcxproj.*
*.sln


*.db
*.db-journal
/cache/
/covers/


*.obj
*.exe
*.dll
*.pdb
*.ilk